section.Specials header{
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

section.Specials header h1{
  margin: auto;
}

section.Specials header button{
  margin: auto;
  width: 25vw;
  border-width: 10%;
  border-radius: 25px;
  border-style: solid;
  border-color: #EDEFEE;
  background-color: #F4CE14;
  color: #495E57;
  font-size: large;
}

section.Specials header button:hover{
  background-color: #495E57;
  color: #F4CE14;
  font-size: larger;
}

section.Specials aside{
  margin: auto;
  display: flex;
  flex-direction: row;
}

section.Card{
   width: 30%;
   height: 30%;
   border-radius: 8%;
   background-color: #EDEFEE;
   color: #495E57;
   margin-top: 1vw;
   margin-bottom: 1vw;
   margin-left: auto;
   margin-right: auto;
}

section.Card img{
  width: auto;
  height: auto; 
  display: block;
  border-radius: 8%;
  margin-left: auto;
  margin-right: auto; 
}